<mat-card style="padding: 2em; text-align: center;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password" />
        </mat-form-field> -->

        <div *ngIf="!isTwoFactorEnabled && !qrCodeUrl">
            <h1>Financial Dashboard</h1>
            <h3>Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- <input type="email" formControlName="email" placeholder="Email"> -->
                <!-- <input type="password" formControlName="password" placeholder="Senha"> -->

                <div class="login-form">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" />
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" [disabled]="loading">
                        Login
                    </button>

                    <button mat-raised-button color="primary" [disabled]="loading" routerLink="/register">
                        Register
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf="error" style="color: red; margin-top: 10px;">
            {{ error }}
        </div>
    </form>

    <div *ngIf="qrCodeUrl">
        <h2>Please configure 2FA</h2>
        <p>Scan this QR code with your authenticator app and click the button below.</p>
        <qrcode [qrdata]="qrCodeUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        <button mat-raised-button color="primary" (click)="authenticatorAppConfigured()">I have configured my authenticator app</button>
    </div>

    <div *ngIf="isTwoFactorEnabled">
        <h2>Verification Code</h2>
        <p>Please enter the code from your authenticator app.</p>
        <form [formGroup]="twoFactorForm" (ngSubmit)="onSubmit2FA()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>2FA Code</mat-label>
                <input matInput type="text" formControlName="code" placeholder="2FA code" minlength="6" maxlength="6">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Verify</button>
        </form>
    </div>
</mat-card>