DATABASE_URL=
JWT_SECRET=

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
PORT=3000
DATE_FORMAT="DD/MM/YYYY HH:mm:ss"
LOGS_PATH=/logs/app.log

QUEUE_PENDING_TRANSACTIONS=pending_transactions
QUEUE_UPDATE_TRANSACTIONS=update_transactions
QUEUE_PROCESSED=processed_transactions
QUEUE_UPDATED_PROCESSED_TRANSACTIONS=updated_processed_transactions

CORS_ORIGIN_ALLOWED=http://localhost:4200